html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* altura do seu footer */
}

p.pInfo{
    font-family: Arial, serif;
    text-align: justify;
    padding-right: 40px;
    font-size: 17px;
}

h1#title1{
    font-family: "Trebuchet MS",serif;
    font-weight: 100;
    font-size: 33px;
}

div#boxTudo{
    padding-left: 30px;
}

div#textoInxirido > h1.title2:first-child{
    font-family: "Trebuchet MS",serif;
    background: #E58100;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    font-size: 2.42em;
    width: 800px;
    margin: 0;
    padding: 3px 3px 3px 3px;
}

div#textoInxirido > h1.title2:last-child{
    font-family: "Trebuchet MS",serif;
    background: #E58100;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    font-size: 2.42em;
    width: 500px;
    margin: 2px 0 0 0;
    padding: 3px 3px 3px 3px;
}

div#textoInxirido2 > h1{
    font-family: "Trebuchet MS",serif;
    background: #E58100;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    font-size: 2.42em;
    width: 100%;
    margin: 0;
    padding: 3px 3px 3px 3px;
}

div#textoInxirido2{
    display: none;
}

h1#title3{
    font-family: "Trebuchet MS",serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 25px;
}

div.barra{
    width: 100px;
    height: 10px;
    background-color: #E58100;
}

div.info {
    margin-top: 35px;
    padding-left: 45px;
}

p#inxiridao1 {
    font-weight: bold;
    color: #E58100;
    font-size: 18px;
    padding: 3px 8px;
    width: 240px;
    margin-bottom: -7px;
    margin-top: 40px;
}

p#inxiridao2 {
    font-weight: bold;
    color: #E58100;
    font-size: 18px;
    padding: 3px 8px;
    width: 500px;
    margin-bottom: -5px;
}

p#inxiridao3 {
    font-weight: bold;
    color: #E58100;
    font-size: 18px;
    padding: 3px 8px;
    margin-bottom: 40px;
}

p#inxiridao2 > a{
    font-size: 18px;
    text-decoration: none;
}

a#inscricao{
    font-family: "Trebuchet MS",serif;
    background: #000A25;
    padding: 15px 40px 15px 40px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 35px;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 17px;
}

p.negrito{
    font-weight: bold;
    font-size: 16px;
    color: #0a4474;
    padding-top: 10px;
    margin-bottom: 0;
}

p.normal{
    font-weight: normal;
    font-size: 17px;
    color: #0a4474;
    margin-top: -2px;
}

div.cinzenta{
    background: #E2E2E2;
}

p.hora1l{
    text-align: center;
    padding-top: 10px;
}

p.hora2l{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 9px;
}

div.container-fluid{
    border: 1px solid #000000;
}

div.col-lg-2{
    padding-left: 0;
    padding-right: 0;
    border-left: 1px solid #000000;
}

div.col-lg-10{
    padding-right: 0;
}

div.line{
    border-bottom: 1px solid #000000;
}

div.lineLeft{
    border-right: 1px solid #000000;
}

p.cola{
    margin-bottom: 0;
}

div.espacada{
    margin-right: -16px;
}

div.nada{
    border: 0;
}

h2#title4{
    text-align: center;
    font-family: "Trebuchet MS",serif;
    color: #0a4474;
}

div.rodape{
    margin-top: 130px;
    width: 100%;
    height: 30px;
    border-top: 3px solid #E58100;
}

img#rodape{
    width: 350px;
    margin-top: -175px;
    margin-left: -15px;
}

img#topo{
    position: absolute;
    width: 256.7px;
}

div.topo {
    z-index: 9999;
    position: absolute;
    left: calc(100% - 257px);
}

div.info > .col-lg-4{
    padding-left: 0;
}

p.largo{
    margin-bottom: 9px;
}

@media all and (min-width: 1920px){
    body{
        overflow-y: hidden;
    }
}

@media all and (min-width: 1920px){
    body{
        overflow-y: hidden;
    }
}

@media all and (max-width: 1810px){
    div.topo {
        left: calc(100% - 265px);
    }

    img#topo {
        width: 264.7px;
    }

    div.rodape {
        margin-top: 160px;
    }
}

@media all and (max-width: 1735px){
    div.topo {
        left: calc(100% - 279px);
    }

    img#topo {
        width: 278.7px;
    }

    div.rodape {
        margin-top: 189px;
    }
}

@media all and (max-width: 1650px){
    div.info > .col-lg-4 {
        margin-right: 70px;
        width: 40%;
    }

    div.info > .col-lg-5 {
        width: 45%;
    }

    div.rodape {
        margin-top: 211px;
    }
}

@media all and (max-width: 1610px){
    div.topo {
        left: calc(100% - 285px);
    }

    img#topo {
        width: 284.5px;
    }
}

@media all and (max-width: 1530px){
    div.info > .col-lg-4 {
        margin-right: 40px;
    }

    div.info > .col-lg-5 {
        width: 50%;
    }

    div.rodape {
        margin-top: 233px;
    }
}

@media all and (max-width: 1457px){
    div.rodape {
        margin-top: 211px;
    }
}

@media all and (max-width: 1380px){
    div.info > .col-lg-4 {
        margin-right: 20px;
    }

    div.info > .col-lg-5 {
        width: 52%;
    }

    p.negrito {
        font-size: 15px;
    }

    div.rodape {
        margin-top: 235px;
    }
}

@media all and (max-width: 1360px){
    div.rodape {
        margin-top: 219px;
    }
}

@media all and (max-width: 1315px){
    div.rodape {
        margin-top: 195px;
    }
}

@media all and (max-width: 1230px) {
    div.info > .col-lg-4 {
        margin-right: 35px;
    }

    div.info > .col-lg-5 {
        width: 54%;
    }
}

@media all and (max-width: 1200px) {
    div.info > .col-lg-4 {
        width: 100%;
    }

    a.inscricaoT{
        display: none;
    }

    a.inscricaoD{
        display: inline-block;
    }

    div.info > .col-lg-5 {
        width: 99%;
        margin-top: 60px;

    }

    img#topo {
        display: none;
    }

    div.rodape {
        margin-top: 195px;
        position: absolute;
        top: 100%;
    }

}

@media all and (max-width: 890px){
    div#textoInxirido{
        display: none;
    }

    div#textoInxirido2{
        display: block;
    }

    div#boxTudo {
        padding-left: 0;
    }

    p.pInfo {
        padding-right: 0;
    }
    div.info > .col-lg-4 {
        padding-right: 0;
    }
    div.info {
        padding-left: 20px;
    }
}

@media all and (max-width: 680px){
    p.negrito {
        font-size: 13px;
    }

    p.normal {
        font-size: 13px;
    }

    p.largo {
        margin-bottom: -2px;
    }

    p#inxiridao2 {
        width: 100%;
    }

    a#inscricao {
        padding: 15px 15px 15px 15px;
    }

    div.info > .col-lg-5 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    div#textoInxirido2 > h1 {
        font-size: 2.0em;
    }
}

@media all and (max-width: 460px){
    img#rodape {
        width: 300px;
        margin-top: -148px;
    }
}
